# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.env.*
.venv/
venv/
ENV/

# IDEs/editors
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# SQLite
*.sqlite
*.sqlite3

# Docker
*.pid

# Project-specific
__pypackages__/
